<style>
img {
  display: block;
}

header {
  padding-block: 1rem;
  border-bottom: 1px solid #cccccc
}

main {
  margin-block: 3rem;
}

.container {
  max-width: 600px;
  margin-inline: auto;
}

.logo-container img {
  margin-inline: auto;
}
</style>

<header>
<div class="container">
    <div class="logo-container">
    <img src="https://i.imgur.com/oUAKMC5.png" alt="RentalX Logo">
  </div>
</div>
</header>
<main>
  <div class="container">
    <h2>Olá {{name}},</h2>
    <p>Você Solicitou alteração de senha.</p>
    <p>Caso seja realmente desejado, <a href="{{link}}">troque sua senha agora!</a></p>
    <p>Se não foi você que solicitou a alteração, desconsiderar este e-mail.</p>
    <p>Atenciosamente, </p>
    <h4>Equipe | RentalX</h4>
  </div>
</main>